# server
NODE_ENV=development
PORT=5500
HOST=localhost
MIN_LOG_LEVEL=DEBUG

## Generate a real one for prod using command: `openssl rand -base64 32`
INTERNAL_AUTH_SECRET=random_32_byte_string-do_not_use_in_prod

# Fleet module
ENABLE_FLEET_SIMULATOR=true

## Get a free API key at: https://openrouteservice.org/dev/#/signup
OPEN_ROUTE_SERVICE_API_KEY=your_api_key_here

SIMULATOR_TICK_INTERVAL=2000
SIMULATOR_WATCHDOG_TIMEOUT=30000
FLEET_BATCH_INTERVAL_MS=1000
FLEET_HYDRATION_TIMEOUT=30000
FLEET_SSE_MAX_CONCURRENT=3
FLEET_SSE_MIN_RETRY_MS=2000