NODE_ENV=development
FLEET_API_BASE_URL=http://localhost:5570
FLEET_STREAM_SIGNING_SECRET=replace_with_a_shared_32_char_secret

# this will be stored on the API and verified to make sure it matches
FLEET_API_INTERNAL_KEY=random_secret_verified_by_api

# Generate a real one for prod using command: `openssl rand -base64 32`
SESSION_SIGNING_SECRET=random_32_byte_string-do_not_use_in_prod

NEXT_PUBLIC_NODE_ENV=development
NEXT_PUBLIC_FLEET_API_BASE_URL=http://localhost:5570
