NODE_ENV=development
PORT=5500
HOST=localhost
MIN_LOG_LEVEL=DEBUG
ENABLE_FLEET_SIMULATOR=false
# Get your free key at: https://openrouteservice.org/dev/#/signup
OPEN_ROUTE_SERVICE_API_KEY=your_api_key_here